<h1>Users</h1>

<div class="row">
  <div *ngFor="let user of users" class="col-md-4">
    <div class="card">
      <img class="card-img-top"
           [src]="user.imageUrl"
           [alt]="user.name">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <div class="card-text">
          <ul>
            <li>Email: {{user.email}}</li>
            <li>Department: {{user.department}}</li>
            <li>Position: {{user.position}}</li>
            <li>Location: {{user.location}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
