<h1>Projects</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Estimate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects">
    <td>{{project.name}}</td>
    <td>{{project.estimate}} hours</td>
  </tr>
  </tbody>
</table>
